nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #282c34;
  padding: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}

#home, #about, #projects, #contact {
  height: 100vh;  /* 각 섹션의 높이를 화면 높이만큼 설정 */
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 3em;
}
